body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, td
{
  border:1px solid darkblue;
  border-collapse: collapse;
  width:100%;
  margin-top: 2px;
  background-color: #959ba8;
}

td.name-of-task
{
  width: 75%;
}

td.status-button
{
  width: 15%;
}

td.delete-button
{
  width: 10%;
}

input.new-task
{
  width: 400px;
  margin-bottom: 5px;
}

button.completed
{
  background-color: darkolivegreen;
}

button.in-progress
{
  background-color: #cece71;
}

button.not-started
{
  background-color: #792626;
}
